{% extends 'base.html' %}
{% block title %} Return Policy {% endblock %}

{% block content %}

<p class="container">
    <p>
    <h2><center>Returns And Exchange Policy</center></h2>
    <h4><center>Exchange Requests can be raised only after 48hrs of delivery</center></h4>

    <h4><p>At Vfind, our aim is to provide 100% satisfaction to our customers. If for any reason you are not satisfied with the product, we are here to help.</p></h4>

    <h4><p>Please Exchange your purchase in its original packaging with all the parts and freebies with your original receipt for a replacement. Please make sure that the product(s) are properly packed when you are returning it.</p></h4>

    <h4><p>If any or all the products that were originally part of an order placed using a coupon or offer are returned then the coupon code/offer will no longer be applicable on the order. The benefit of the coupon/offer will also not be included in the refund. If the product(s) returned are part of any free offer such as Buy 2 get 1 free or Buy 1 get 1 free, all the products related to the offer have to be returned, as they have been purchased as part of a group offer, failing which the refund would not be processed unless we get all products in one.</p></h4>

    <h4><b>Below parameters will be considered at the time of the quality audit</b></h4>
<ol>
    <h4><li>Product received must be same that was dispatched from our warehouse referring to your order.</li></h4>
    <h4><li>Once it is confirmed that the received product matches with the dispatched, audit will be done on the basis of intact tag and unused condition.</li></h4>
    <h4><li>If the product received without tags or in used condition, we will be unable to process your request.</li></h4>
</ol>
<h4><b>Refund in account/Refund in gift card</b></h4>

    <p><h4>The replacement process will be initiated only once we have received the product back in our warehouse and we have completed all quality checks and verifications at our end.</h4></p>

<ol><h4>
<li><p>Please note that the shipping charges and COD charges are non-refundable.</p></li>
<li><p>If the payment mode was Cash on Delivery, we will refund the amount to the bank account of your choice. Please add your Bank detail (Account Holders Name : (Same as billing name), Bank Name:, Account No:, Account Type:, IFSC Code) in remarks column so that we can transfer the money in your account. Please ensure that the detail that you enter is correct. Vfind will not validate a Bank Account number and is not responsible for funds transferred to an unintended recipient.</p></li>
<li><p>In-case Refund in gift card as an option is selected, order amount will be converted into Vfind credit and you will receive coupon code on your register email id and can be viewed in your “GIFT CARD”, and you can use the credit to order a replacement or buy a new product. No deduction of payment gateway charges is applicable if refund mode is gift card.</p></li>
<li><p>As we do not have a reverse pickup facility yet, you are requested to ship the product(s) back to us. Please pack the items securely to prevent any loss or damage during transit. In case of any defective product the shipping charges will be bared by the company and if the wrong order placed by customer, then he/she have to bare the shipping cost.</p></li>
<li><p>Non-serviceable Area (NSA): In case your location comes under NSA, you can courier us the package you wish to return/replace. Once we receive the package and a scanned copy of the courier receipt, we will transfer an amount upto Rs.150 in your Vfind “Gift card” account. You can email us the courier receipt at care@vfind.in .</p></li>
<h4><b>Points to be noted</b></h4>
</ol></h4>

<ul><h4>
<li>In case if you wish to return or exchange the Vfind product, please put a request to care@vfind.in on the return for sizing and manufacturing issue within 7 days of receiving the product.</li>
<li>The items are in a resalable condition, unworn and with tags still attached.</li>
<li>Goods shall be couriered back to the shipping address in case the above quality parameters are not met in the audit.</li>
<li>If re-shipped product is refused; it won’t be shipped again and your return request will be closed.</li>
</h4></ul>

<h4>Q. How do I place return request?</h4>

<h4>A. We request you to kindly mail us at care@vfind.in</h4>

<h4>General enquires pertaining returns:</h4>

<h4>Q. What should I do if do not have an original package?</h4>

<h4>A. In case original packing is not available, you can use any packing material strong enough to hold the product. Please seal the parcel.</h4>

<h4>Q. Is courier person aware what product he is picking up or where it is to be delivered?</h4>

<h4>A. Courier person may not have information about the product and delivery location, hence request you to mention warehouse address on parcel.</h4>

<h4>Q. Will courier give provide me acknowledgement copy?</h4>

<h4>A. Courier person will provide you Reverse AWB against the parcel. In case he fails to provide the same don’t hand over the product.</h4>

<h4>Q. What should I do if I’m unable to print label?</h4>

<h4>A. If you are unable to print label, request you to write the address and do not forget mention order no.</h4>

<h4>Q. What if I’ve paid through COD?</h4>

<h4>A. In case of sizing issue with COD order, bank details will be requested at this stage.</h4>

</div>

{% endblock %}