{% extends 'base.html' %}
{% block title %} Terms and conditions {% endblock %}

{% block content %}

<div class="container">
<ul><h4>
    <li>What is the Delivery Time period ?</li>
        <li><p>Delivery date is dependent on the product and delivery pincode.The average delivery time is 4-5 days.Please note, there can be an unusual delay in the delivery due to any cause,however, you will be duly informed about the delay. You will receive tracking information Once the product is Shipped.</p></li>
    <li>How to track my Order?</li>
        <li><p>Tracking information will be shared once order got shipped through email and sms.</p></li>
    <li>What is the Shipping Time Period?</li>
        <li><p>Products will get shipped within 2 working days. Please note, there can be an unusual delay in the shipping due to any cause, however, you will be duly informed about the delay.</p></li>
    <li>Do you apply any shipping charges ?</li>
        <li><p>There is no shipping charge on any product when you buy from Crazymonk.in</p></li>
    <li>Are there any Cod Charges ?</li>
        <li><p>Cash on delivery (COD) charges of Rs.50/-are applied if you choose cash on delivery method for payment. However , you can avoid these charges by paying online.</p></li>
    <li>How can we avoid COD charges ?</li>
        <li><p>You can simply avoid COD charges by paying us online.</p></li>
</h4>

</ul>

</div>

{% endblock %}